<!-- About Section -->
<section class="container content-section text-center">
    <div class="row">

        <div class="col-lg-8 col-lg-offset-2 background">
            <h2>What Underworld is</h2>
            <hr>
            <p>Underworld is a safe alternative play space without judgement, elitism, and bad attitudes.</p>
            <p>We’re run by a trio of strong, queer individuals who wanted to create a dark, alternative space with
                kink/fetish elements that runs monthly.
                Staffed by hard working volunteers from all different backgrounds, we take pride in being an inclusive,
                safe, and body positive environment.
                Come hang out with us, socialize, dance, or play! Our music is backed by dark electronic, pulsating
                aggro-tech, and industrial- sprinkled with some sexy pop tunes and we update it regularly.</p>

        </div>
        <!-- About Space Section -->
        <div class="col-lg-8 col-lg-offset-2">
            <h1>The Space</h1>
            <hr>
            <p>We have an upstairs loft that features beautiful lighting setups, a booming sound system, DJ booth and
                multiple
                rooms for your enjoyment.</p>
            <p>The dungeon features a prison cell, cage, medical table, St Andrew's cross, and we have recently
                installed a
                hardpoint for rope suspension! We are also working on getting back our stripper pole.</p>
            <p>The red room features a layered cat tree of beds for fun activities.</p>
            <p>We have a dance floor and lounge area, a bar and a designated chill-out room for aftercare and taking a
                break.</p>
            <p>See the <a href="#areas" class="red page-scroll"><b>areas</b></a> section of the rules for specific information about playing.</p>
        </div>
    </div>
