    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>~Welcome to UNDERWORLD~</h2>
                    <p>"Sinners, Vice, and everything naughty or nice"</p>
                    <p>We welcome all those who are new and old, those who want to show off or simply want to dip their toes into the scenes in the shadows.</p>
                    <p>Are you new to the kink scene? Not to worry, there is no judgement here. Feel free to simply just watch and ask questions. There is no pressure to engage in anything you're not sure about.</p>
                <hr>
            <!-- About Staff Section -->
                <h3>Organizers</h3>
                <p>three beautful femme badass bitches who run dis joint</p>
                        <ul class="staff">
                            <li><h4>Persephone</h4></li>
                                <li><img src="{{ "/img/staff-test.jpg"  | prepend: site.baseurl }}"></li>
                                <li>Spicy jalapeno bacon ipsum dolor amet swine buffalo mollit beef ribs, incididunt sunt aliqua ut pork belly pancetta 
                                    pariatur chuck laboris. Beef turkey cillum proident swine in. Quis cow aliqua ut, qui ut meatball in rump.</li>
                            <li><h4>Hecate</h4></li>
                            <li><img src="{{ "/img/staff-test.jpg"  | prepend: site.baseurl }}"></li>
                                <li>Spicy jalapeno bacon ipsum dolor amet swine buffalo mollit beef ribs, incididunt sunt aliqua ut pork belly pancetta
                                     pariatur chuck laboris. Beef turkey cillum proident swine in. Quis cow aliqua ut, qui ut meatball in rump.</li>
                            <li><h4>Kharon</h4></li>
                            <li><img src="{{ "/img/staff-test.jpg"  | prepend: site.baseurl }}"></li>
                                <li>Spicy jalapeno bacon ipsum dolor amet swine buffalo mollit beef ribs, incididunt sunt aliqua ut pork belly pancetta
                                     pariatur chuck laboris. Beef turkey cillum proident swine in. Quis cow aliqua ut, qui ut meatball in rump.</li>
                        </ul>
                <h3>Staff</h3>
                    <p>Lorem Ipsum information about the other staff peeps</p>
                    <ul class="staff2">
                        <li><h4>Hades</h4></li>
                            <li>image test</li>
                            <li>A short description about delicious bacon stuff</li>
                        <li><h4>Melinoe</h4></li>
                            <li>image test</li>
                            <li>A short description about delicious bacon stuff</li>
                    </ul>
                    <ul class="staff">
                        <li><h4>Cerberus #1</h4></li>
                            <li>image test</h4></li>
                            <li>A short description about delicious bacon stuff</li>
                        <li><h4>Cerberus #2</h4></li>
                            <li>image test</li>
                            <li>A short description about delicious bacon stuff</li>
                        <li><h4>Cerberus #3</h4></li>
                            <li>image test</li>
                            <li>A short description about delicious bacon stuff</li>
                    </ul>
                <hr>
            <!-- About Space Section -->
                <h1>The Space</h1>

                    <p>Lorem Ipsum information about the space</p>
                <hr>
            </div>
        </div>
    </section>