<!-- Download Section -->
<section id="events" class="content-section text-center">
    <div class="event-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <p>
                    <h2>Upcoming Events</h2>
                    <ul class="next-event">
                        <!--<li class="tbd">TBD
                                <br>
                                <h3>To be announced</h3>
                                <p>You'll be the first to know</p>
                                </p>
                            </li>
                        -->
                            <li>
                                <div class="event-container">
                                    <img src="/assets/event-bg/tba_bg.jpg">
                                    <div class="event-text">
                                    date tba
                                    <h3>THEME TBA</h3> 
                                    <p>
                                        Wouldn't you like to know. Come back and check for updates.
                                    </p>
                                        <button class="coming-soon">
                                        <!--<a href="#" target="_blank">RSVP on FB</a>-->
                                        RSVP on FB
                                    </button>
                                    <button class="coming-soon">
                                        <!--<a href="#" target="_blank">RSVP on FET</a>-->
                                        RSVP on FET
                                    </button>
                                    <button class="coming-soon">
                                        <!--<a href="#" target="_blank">Tickets</a>-->
                                        Tickets
                                        </button>
                                    </div>
                                </div>
                                </li>
                </ul>
                <hr>
                <h2>Previous Events</h2>
                <ul class="prev-events">
                    <li>
                        <div class="event-container">
                            <img src="/assets/event-bg/wonderland-bg.jpg">
                            <div class="event-text">
                            APRIL 20, 2019
                            <h3>THE LOST TEA PARTY</h3> 
                            <p>
                                "We are all quite mad here. So, why no revel in the madness? Come play with me, here, in this world of darkness and saturation. Come with me, to the Lost Tea Party."
                            </p>
                                <button>
                                <a href="https://www.facebook.com/events/553021781860233/" target="_blank">Spotify Playlist</a>
                            </button>
                            </div>
                        </div>
                    </li>
                    <li>
                            <div class="event-container">
                                    <img src="/assets/event-bg/stardust-bg.jpg">
                                    <div class="event-text">
                                    MARCH 16, 2019
                                    <h3>STARDUST</h3> 
                                    <p>"Commander, there's been an unidentified distress signal detected inside the Andromeda Heleus Cluster. 
                                        I've entered the coordinates into your Omni-tool; I suggest you rally your team."</p>
                                    <p>- Welcome to UNDERWORLD: STARDUST aboard the SSV Acheron -</p>
                                    <p>Please take a moment to familiarise yourself with our safety protocols located at the end of this transmission. 
                                        Whether your mission is to sail among the stars and take in all that the universe has to offer, 
                                        or you're here to plunder some space booty, this vessel has something for everyone. 
                                        Refreshments are located on the upper deck and to the mid-back of the ship. 
                                        Bed chambers are available to those who wish to indulge in something a little more out of this world. 
                                        Please be advised that there is no smoking permitted inside the ship.</p>
                                        <p>Safe travels, Adventurer</p>
                                    <button>
                                        <a href="https://open.spotify.com/playlist/4D5rayMSccJPIGLGyfpfjw" target="_blank">Spotify Playlist</a>
                                    </button>
                                </div>
                                </div>
                    </li>
                        <li>
                                <div class="event-container">
                                    <img src="/assets/event-bg/opulence_bg.jpg">
                                    <div class="event-text">
                                    JANUARY 25, 2019
                                    <h3>OPULENCE</h3> 
                                    <p>"Lavish, decadent... everything dripping in gold"</p>
                                    <p>Want to spend a sultry evening in an underground speakeasy? We're kicking off the New Year with a golden introduction to 2019! Bring your glitter and glamour to our gold themed party of indulgence!</p>
                                    <button>
                                            <a href="https://open.spotify.com/playlist/3jxCu2ZkhMthPqidBGSA9H" target="_blank">Spotify Playlist</a>
                                    </button>
                                    </div>
                                </div>
                                </li>
                    <li>
                                <div class="event-container">
                                    <img src="/assets/event-bg/unleashed.jpg">
                                    <div class="event-text">
                                        NOVEMBER 24, 2018
                                    <h3>UNLEASHED</h3> 
                                    <p>
                                        I don't know about you, Ms Kitty, but I feel so much yummier. 
                                    </p>
                                    <p>    Calling all cats, kittens, and feline friends to come play with us in our purrfect kitty-cat playhouse, made just for you. 
                                        </p> 
                                    <p>    We encourage all our guests to get into the spirit of things and dress in their best cat ears and tail, because after all, everybody wants to be a cat! 
                                        </p>  
                                    <button>
                                        <a href="https://open.spotify.com/playlist/4ZhzQfP2HRmTKcnwXVoAFQ" target="_blank">Spotify Playlist</a>
                                    </button>
                                    </div>
                                </div>
                            </li>
                    
                            <li>
                                <div class="event-container">
                                    <img src="/assets/event-bg/wicked_hallow.jpg">
                                <div class="event-text">
                                    OCTOBER 20, 2018
                                    <h3>THE WICKED HALLOW</h3>
                                    <p>
                                        Light as a feather, stiff as a board.<br>
                                        Light as a feather, stiff as a board.<br>
                                        Light as a feather, stiff as a board.<br>
                                        <br>
                                        Calling all of those who seek the powers beyond the black veil, we welcome you to The Wicked Hallow. There is no dress code as per usual but we encourage everyone to dress in their best spooky attire. Witches, demons, spirits, familiars, and beyond are all invited to come out and play.
                                    </p>
                                    <button>
                                            <a href="https://open.spotify.com/playlist/46MhJdh8C9t7PtEUpDMSP2" target="_blank">Spotify Playlist</a>
                                    </button>
                                </div>
                                </div>
                            </li>
                            <li>
                                    <div class="event-container">
                                        <img src="/assets/event-bg/vampire_den.jpg">
                                    <div class="event-text">
                                    SEPTEMBER 15, 2018
                                    <h3>VAMPIRE'S DEN</h3>
                                    <p>
                                        "Your body is dying, pay no attention. It happens to us all." - Lestat de Lioncourt 
                                    </p>
                                    <button>
                                            <a href="https://www.facebook.com/notes/underworld-fetish-nights/vampires-den-sept-15-survey-address/239244470094955/" target="_blank">Survey Response</a>
                                    </button>
                                    <button>
                                            <a href="https://open.spotify.com/playlist/1bNKxLJm5FleoivCdDWyGQ" target="_blank">Spotify Playlist</a>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li> 
                            <div class="event-container">
                                <img src="/assets/event-bg/faerie_forest.jpg">
                                <div class="event-text">
                            AUGUST 18, 2018
                            <br>
                            <h3>FAERIE FOREST</h3>
                            <p>
                                Enter the faerie forest, whether you are from the Seelie or Unseelie court.
                            </p>
                            <button>
                                <a href="https://open.spotify.com/playlist/2KUlKlSA0QzOios4z83jgr" target="_blank" >Spotify Playlist</a>
                            </button>
                        </div>
                        </div>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>
