    <!-- Download Section -->
    <section id="events" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <p><h2>Upcoming Events</h2>
                    <ul class ="next-event">
                        
                        </li>
                        <li class="vampire">SEPTEMBER 15, 2018 
                            <br> 
                            <h3>VAMPIRE'S DEN</h3>
                            <p>
                                    Spicy jalapeno bacon ipsum dolor amet swine buffalo mollit beef ribs, incididunt sunt aliqua ut pork belly pancetta pariatur chuck laboris. 
                                    Beef turkey cillum proident swine in. Quis cow aliqua ut, qui ut meatball in rump.      
                            </p>
                            <button class="rsvp">
                                <a href="https://www.facebook.com/events/2148669478787610/" target="_blank">RSVP on FB</a>
                            </button> 
                            <button class="rsvp">
                                <a href="https://www.facebook.com/events/2157837037797222/" target="_blank">RSVP on FET</a>
                            </button>
                            <button class="rsvp">
                                <a href="https://www.eventbrite.ca/e/underworld-presents-vampires-den-tickets-44109510734" target="_blank">GET TICKETS</a>
                            </button>
                        </li>
                    </ul>
                    <h2>Previous Events</h2>
                    <ul class ="prev-events">
                            <li id="faerie">
                                    AUGUST 18, 2018<br>
                                    <h3>FAERIE FOREST</h3>
                                    <p>
                                        Enter the faerie forest, whether you are from the Seelie or Unseelie court. 
                                        <br>
                                        We want your feedback! Click the survey link below!    
                                    </p>
                                    <button class="rsvp">
                                        <a href="https://www.facebook.com/events/2157837037797222/" target="_blank">SURVEY</a>
                                    </button> 
                        <li id="glow2">JULY 2018 <br> <h3>GLOW 2.0</h3></li>
                        <li id="medic">JUNE 2018 <br> <h3>MEDIC</h3></li>
                        <li id="crimson">MAY 2018 <br> <h3>CRIMSON</h3></li>
                        <li id="glow">APRIL 2018 <br> <h3>GLOW</h3></li>
                    </ul>
                </p>
                </div>
            </div>
        </div>
    </section>