    <!-- Download Section -->
    <section id="events" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <p><h2>Upcoming Events</h2>
                    <ul class ="next-event">
                        <li id="faerie">
                            AUGUST 18, 2018<br>
                            <h3>FAERIE FOREST</h3>
                            <p>
                                Spicy jalapeno bacon ipsum dolor amet swine buffalo mollit beef ribs, incididunt sunt aliqua ut pork belly pancetta pariatur chuck laboris. 
                                Beef turkey cillum proident swine in. Quis cow aliqua ut, qui ut meatball in rump.      
                            </p>
                            <button class="rsvp">
                                <a href="https://www.facebook.com/events/2157837037797222/" target="_blank">RSVP on FB</a>
                            </button> 
                            <button class="rsvp">
                                <a href="https://www.facebook.com/events/2157837037797222/" target="_blank">RSVP on FET</a>
                            </button>
                            <button class="rsvp">
                                <a href="https://www.facebook.com/events/2157837037797222/" target="_blank">GET TICKETS</a>
                            </button>
                        </li>
                        <li>SEPT 2018 <br> <button>TBD</button></li>
                    </ul>
                    <h2>Previous Events</h2>
                    <ul class ="prev-events">
                        <li>JULY 2018 <br> <button>GLOW 2.0</button></li>
                        <li>JUNE 2018 <br> <button>MEDIC</button></li>
                        <li>MAY 2018 <br> <button>CRIMSON</button></li>
                        <li>APRIL 2018 <br> <button>GLOW</button></li>
                    </ul>
                </p>
                </div>
            </div>
        </div>
    </section>