<!-- Events Section -->
<section id="events" class="content-section text-center">
        <div class="event-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>
                        <h2>Upcoming Event</h2>
                        <ul class="next-event">
                            <!--<li class="tbd">TBD
                                    <br>
                                    <h3>To be announced</h3>
                                    <p>You'll be the first to know</p>
                                    </p>
                                </li> 
                            -->
                                <li>
                                    <div class="event-container">
                                        <img src="/assets/event-bg/wonderland-bg.jpg">
                                        <div class="event-text">
                                        APRIL 20, 2019
                                        <h3>THE LOST TEA PARTY</h3> 
                                        <p>
                                            "We are all quite mad here. So, why no revel in the madness? Come play with me, here, in this world of darkness and saturation. Come with me, to the Lost Tea Party."
                                        </p>
                                            <button>
                                            <a href="https://www.facebook.com/events/553021781860233/" target="_blank">RSVP on FB</a>
                                        </button>
                                        <button>
                                            <a href="https://fetlife.com/events/777270" target="_blank">RSVP on FET</a>
                                        </button>
                                        <button class="coming-soon">
                                            Tickets Coming Soon
                                            </button>
                                        </div>
                                    </div>
                                    </li>
                    </ul>
                    <hr>
                    <h2>Previous Events</h2>
                    <ul class="prev-events">
                        <h3>2019</h3>
                        <li>
                            <button class="open-modal"><h3>january</h3></button>
                            <div class="modal">
                                <div class="event-modal-content">
                                    <span class="close">&times;</span>
                                    <img src="/assets/event-bg/opulence-bg.jpg">
                                    <div class="event-text">
                                        <h3>OPULENCE</h3>
                                        <p>"Lavish, decadent... everything dripping in gold"</p>
                                        <p>Want to spend a sultry evening in an underground speakeasy? We're kicking off the New Year with a golden introduction to 2019! Bring your glitter and glamour to our gold themed party of indulgence!</p>
                                        <button>
                                            <a href="https://open.spotify.com/playlist/3jxCu2ZkhMthPqidBGSA9H" target="_blank">Spotify Playlist</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>
    