<!-- Photo Gallery Section -->
<section id="photos" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Photo Gallery</h2>
            <p>somehow, some photos will display here.</p>
            <div id="pixlee_container"></div>
            <script type="text/javascript">
                window.PixleeAsyncInit = function() 
                {
                    Pixlee.init({apiKey:'jjbxUInIIxqX1ZecX1W'});
                    Pixlee.addSimpleWidget({widgetId:'7526'});
                };
                    </script>
                <script src="//instafeed.assets.pixlee.com/assets/pixlee_widget_1_0_0.js"></script>
        </div>
    </div>
</section>
