<section id="rules" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 rules background">
      <h1>House Rules</h1>
      <h2><u>The Basics</u></h2>
      <p>
        <b class="red">P.R.I.C.K</b> is Practised:<br />
        <b class="red">P</b>ersonally<br />
        <b class="red">R</b>esponsible<br />
        <b class="red">I</b>nformed<br />
        <b class="red">C</b>onsensual<br />
        <b class="red">K</b>ink<br />
      </p>

      <h2>
        Consent is <b><u>Mandatory!</u></b>
      </h2>
      <p>
        No means <b>no</b> <br />
        Maybe means <b>no</b> <br />
        I don’t know means <b>no</b> <br />
        Silence means <b>no</b> <br />
        A clear, enthusiastic, and conscious “yes” is <b><u>YES</u></b
        >. <br />
        Unless a clear, straightforward “yes” is said, assume the answer is a
        <b>no</b>. <br />
        Do <b>NOT</b> force, disturb, or create situations that force people
        into your kink. <br />
      </p>
      <p>
        <b>NO</b> unauthorized photography/recording in the space. Let a staff
        member know if you want a selfie!
      </p>
      <h2>Dress Code:</h2>
      <p>
        There is <u>no</u> dress code!<br />
        Streetwear is fine!<br />
        Fetishwear, goth, alternative, etc. is encouraged!<br />
        There is <b>NO</b> genital nudity, unless you are using the Red Room.<br />
        <br />
        Going topless is fine!
      </p>
      <h2>Disallowed play:</h2>
      <p><a class="page-scroll" href="#faq">(see our FAQ)</a></p>
      <h2>Exhibitionism:</h2>
      <p>
        <a class="page-scroll" href="#rules"
          >(see rules of consent & dress code)</a
        ><br />
        Do <b>NOT</b> disturb other players, scenes, or force someone into your
        kink.<br />
        Do <b>NOT</b> flash people.<br />
        Do <b>NOT</b> enter the event nude.<br />
        Do <b>NOT</b> engage in uninvited voyeurism and solo play.
      </p>
    </div>

    <div class="col-lg-8 col-lg-offset-2 areas">
      <h2>Areas</h2>
      <p><i class="fa fa-star"></i> Play is allowed</p>
      <ul id="lightSlider">
        <li>
          <h3 class="red">Red Room <i class="fa fa-star"></i></h3>
          <p>
            <b
              >This area allows S.O.P (sex on premises)<br />
              Absolutely no phones/recording devices!</b
            ><br />
            Sexual activity: penetration, toys, etc. can be done here.<br />
            <br />
            Due to the nature of this room, please CLEAN UP after yourselves!
            Cleaning materials and condoms are provided, use them!<br />
            <br />
            Do NOT disturb other people in the Red Room (interrupting/inserting
            yourself into scenes, voicing loud criticisms, crowding, purposeful
            watching etc.)<br />
            <br />
            Unless clearly invited, there is NO voyeuring or single/solo (IE
            masturbation) play allowed in this room! <br />
            See rules of consent.
          </p>
        </li>
        <li>
          <h3 class="red">Dungeon <i class="fa fa-star"></i></h3>
          <p>
            <b
              >This area allows S.O.P (sex on premises)<br />
              Absolutely no phones/recording devices!</b>
              <br />
            Sexual activity: penetration, toys, etc. can be done here.<br />
            <br />
            Due to the nature of this room, please CLEAN UP after yourselves!
            Cleaning materials and condoms are provided, use them!<br />
            <br />
            Do NOT disturb other people in the Red Room (interrupting/inserting
            yourself into scenes, voicing loud criticisms, crowding, purposeful
            watching etc.)<br />
            <br />
            Unless clearly invited, there is NO voyeuring or single/solo (IE
            masturbation) play allowed in this room! <br />
            See rules of consent.
          </p>
        </li>
        <li>
          <h3 class="red">Lounge Area<i class="fa fa-star"></i></h3>
          <p>
            Couches, lounge benches and chairs are here for you leisure. Feel
            free to use them to play! Remember to be clean.
          </p>
        </li>
        <li><h3 class="red">Stage/Cuddle Puddle</h3>
        <p>There is NO play in the cuddle puddle. If it is a stage, yes, you can.</p>
       <p> The front of dancefloor has a padded stage, with a chair, perfect for floor tying, or exhibitionist play scenes! 
        We also sometimes switch this area out for our cuddle pile which is filled with pillows, blankets, and stuffed animals. 
        Great for people watching!</p>
        </li>
        <li><h3 class="red">Dance Floor<i class="fa fa-star"></i></h3>
        <p>The dance floor is a place to...dance! Move your body any way you like but please watch your flailing limbs as there will be both innocent and not-so-innocent bystanders. </p>
        </li>
        <li><h3 class="red">Chill/Aftercare Room</h3>
        <p>Designated “chill” room. <b>No play is permitted here.</b></p>
<p>
        This room is strictly for people in aftercare, if you need a break (anxiety, overwhelmed), or if you want a quiet place to talk.</p>
    </p>    
    </li>
        <li><h3 class="red">Bar</h3>
        <p><b>Our venue has a liquor license</b></p>
        <p> Here is where you can find all your beverage choices from water to soda, to alcoholic drinks. Please leave tips to our lovely bartenders!
                </p>
        </li>
        <li><h3 class="red">Bathrooms</h3>
        <p>Use the bathrooms as bathrooms, please. Be clean!
                Do <b>NOT</b> engage in sexual activity here.</p>
                <p>If you are taking drugs, you must be using in an open space, and inform someone that are you under the influence so that we may help you if need be.</p>
        </li>
      </ul>
    </div>
    <div id="trafficlights" class="col-lg-8 col-lg-offset-2 background">
      <br />
      <h2>Stoplight Bracelet System</h2>
      <p>
        Upon entering the event space, you will be asked what colour bracelet
        you want. Here is what they mean below:
      </p>
      <h3><b class="green">Green</b></h3>
      <p>“I am <b>OPEN</b> to playing”</p>
      <h3><b class="yellow">yellow</b></h3>
      <p>“I am <b>UNSURE</b> about playing, please ask me”</p>
      <h3><b class="red">red</b></h3>
      <p>“I am <b>NOT</b> playing. I’m just here for the party.”</p>
      <h3><b class="blue">Blue</b></h3>
      <p>
        “I am a <b>STAFF MEMBER</b>.” <br /><i>[DMs, security, organizer, staff]</i>
      </p>
      <br />
    </div>
    <div class="col-lg-8 col-lg-offset-2">
      <p>
        If you have any other questions, please check out our FAQ! Chances are
        your question can be answered there :)
      </p>
      <br />
    </div>
  </div>
</section>
