<section id="rules" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h1>House Rules</h1>
            <p>da rules</p>
            <h2>Consent is Mandatory</h2>
            <p>please follow dem. googledocs link from uw gmail</p>
        </div>
        <div class="col-lg-8 col-lg-offset-2 background">
            <br>
            <h2>Traffic Light Bracelet System</h2>
            <p>Green means go
                <br> yellow means approach with caution
                <br> red means no thank you
            </p>
            <br>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <p>If you have any other questions, please check out our FAQ! Chances are your question can be answered
                there :)
            </p>
            <br>
        </div>
        <div class="col-lg-8 col-lg-offset-2 faq">
            <br>
            <h2>Frequently Asked Questions</h2>
            <p>Common questions we get asked. Click on the question to see the answer!</p>
            <button class="question"><i class="fa fa-question-circle"></i> What is the safeword?</button>
            <div class="answer">
                <p>The house safeword is always “safeword”, or, “red”-- follow the stoplight!</p>
            </div>
            <button class="question"><i class="fa fa-question-circle"></i> I’ve never been to Underworld, is there a
                greeter who can show me around?</button>
            <div class="answer">
                <p>We do not have someone designated to be a greeter, however, if you feel you need a tour of the
                    space, please find Persephone, Hekate, Hades, or Melinoë. Staff are identified by their <b style="color: #3c78d8">BLUE</b>
                    wristbands and <b>STAFF</b> lanyards/name tags.</p>
            </div>
            <button class="question"><i class="fa fa-question-circle"></i> Is there a dress code?</button>
            <div class="answer">
                <p>Nope! Underworld does not have a dress code. Streetwear is fine, any stream of alternative (or
                    fetish) wear is fine (and encouraged), but you are free to dress as comfortably as you like. Going
                    topless is also fine.</p>
                <p>Please be aware that no lower genital nudity is allowed! We fully embrace a sex-positive and body
                    positive atmosphere, however, it is not consensual to force other party goers to see complete
                    nudity <a class="page-scroll" href="#rules">(see consent rules).</a></p>
            </div>
            <button class="question"><i class="fa fa-question-circle"></i> Can I take pictures or record what happens
                at the event?</button>
            <div class="answer">
                <p>No. There is no unauthorized photography or recording of any kind allowed at the event. If you want
                    to take selfies you must tell a staff member you’d like to take a picture and that the background
                    is a wall. Occasionally there might be a staff member taking photos for our social media accounts.
                    These photos will never feature our guests unless permission has been asked.</p>
                    </div>
                <button class="question"><i class="fa fa-question-circle"></i> Can I use my phone everywhere in the venue?</button>
                <div class="answer">
                    <p>No. Phones are <b>NOT</b> permitted in the Dungeon or in the Red Room. The Main room, Chill room, hallways, bar, and bathrooms are fine to have your phone out.</p>
                    </div>

                    <!-- question/answer template -->
                    <!--
                <button class="question"><i class="fa fa-question-circle"></i> Question</button>
            <div class="answer">
                <p>Answer</p>
            </div>
            -->
                </div>
                <br>
            </div>
        </div>
</section>