<!--Staff Section-->
<section id="staff" class="content-section text-center">
    <div class="staff-section">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Organizers</h2>
                <ul class="staff">
                    
                        <li><img src="/img/headshots/PERSEPHONE.jpg"></li>
                        <li><h3>Persephone</h3></li>
                        <li>Organizer</li>
                        <li>Creative Director</li>
                    
                    <li><img src="/img/headshots/HEKATE.jpg"></li>
                    <li><h3>Hekate</h3></li>
                        <li>Organizer</li>
                        <li>Chief Information Officer</li>
                    
                    <li><img src="/img/headshots/KHARON.jpg"></li>
                    <li><h3>Kharon</h3></li>
                        <li>Organizer</li>
                        <li>Chief Financial Officer</li>
                </ul>
            <h3>Staff</h3>
                <ul class="staff">
                    
                        <li><img src="/img/headshots/HADES.jpg"></li>
                        <li><h4>Hades</h4></li>
                        <li>Staff</li>
                        <li>Tech & Design</li>
                    <br>
                        <li><img src="/img/headshots/MELINOE.jpg"></li>
                        <li><h4>Melinoe</h4></li>
                        <li>Staff</li>
                        <li>Tech & Design</li>
                    <br>
                        <li><img src="/img/headshots/TERPSICHORE.jpg"></li>
                        <li><h4>Terpsichore</h4></li>
                        <li>Staff</li>
                        <li>Social Media</li>
                </ul>
                <ul class="staff">
                    
                        <li><img src="/img/headshots/MEPHISTO.jpg"></h4></li>
                        <li><h4>Mephisto</h4></li>
                        <li>Guardians - Cerberus #1</li>
                        <li>Good Boy</li>
                   
                        <li><img src="/img/headshots/HYPNOS.jpg"></li>
                        <li><h4>Hypnos</h4></li>
                        <li>Guardians - Cerberus #2</li>
                        <li>Good Boy</li>
                    
                        <li><img src="/img/headshots/EROS.jpg"></li>
                        <li><h4>Eros</h4></li>
                        <li>Guardians - Cerberus #3</li>
                        <li><i>Extra Good Boy</i></li>
                </ul>
        </div>
    </div>
</div>
</section>
