<!--Staff Section-->
<section id="staff" class="content-section text-center">
    <div class="staff-section">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Organizers</h2>
                <ul class="staff">
                    
                        <li><img src="https://image.ibb.co/jJYsOp/persephone_resized.jpg"></li>
                        <li><h3>Persephone</h3></li>
                        <li>Organizer</li>
                        <li>Creative Director</li>
                    
                    <li><img src="https://image.ibb.co/dgAHpU/Hekate_resized.jpg"></li>
                    <li><h3>Hekate</h3></li>
                        <li>Organizer</li>
                        <li>Chief Information Officer</li>
                    
                    <li><img src="https://image.ibb.co/c6ge3p/kharon_resized.jpg"></li>
                    <li><h3>Kharon</h3></li>
                        <li>Organizer</li>
                        <li>Chief Financial Officer</li>
                </ul>
            <h3>Staff</h3>
                <ul class="staff2">
                    
                        <li><img src="https://image.ibb.co/k2kTw9/hades_resized.jpg"></li>
                        <li><h4>Hades</h4></li>
                        <li>Staff</li>
                        <li>Tech & Design</li>
                    <br>
                        <li><img src="https://image.ibb.co/dEpjJe/devil_clipart_demon_13.png"></li>
                        <li><h4>Melinoe</h4></li>
                        <li>Staff</li>
                        <li>Tech & Design</li>
                </ul>
                <ul class="staff">
                    
                        <li><img src="https://image.ibb.co/dEpjJe/devil_clipart_demon_13.png"></h4></li>
                        <li><h4>Mephisto</h4></li>
                        <li>Security - Cerberus #1</li>
                        <li>Good Boy</li>
                   
                        <li><img src="https://image.ibb.co/dEpjJe/devil_clipart_demon_13.png"></li>
                        <li><h4>Hypnos</h4></li>
                        <li>Security - Cerberus #2</li>
                        <li>Good Boy</li>
                    
                        <li><img src="https://image.ibb.co/gpFm2A/Eros-resized.jpg"></li>
                        <li><h4>Eros</h4></li>
                        <li>Security - Cerberus #3</li>
                        <li><i>Extra Good Boy</i></li>
                </ul>
        </div>
    </div>
</div>
</section>
